<h1 class="text-2xl block mb-1">Galeri</h1>
<a href="/galeri/add-foto" class="bg-slate-200 p-2 text-slate-600 hover:text-slate-800 hover:bg-slate-300 transition ease-in-out delay-150 rounded ">Upload foto</a>